p{
    color: white;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 1px #111111;
}

body{
    background-color: #000000;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(133, 78, 133);
    height: 80px;
    padding: 20px;
}

footer{
    clear: both;
    background-color: rgb(133, 78, 133);
    height: 50px;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    text-shadow: 1px 1px 1px #111111;
}

h1{
  color: rgb(26, 26, 39);  
  text-shadow: 1px 1px 1px #111111;
  text-align: center;
  margin: 0 0 50px 0;
}

#principal{
    background-image: url('wide-putin.gif');
    clear: both;
    background-size: 100%;
    min-height: 400px;
    padding: 80px 0 0 0;
}

#logo{
    float: left;
}

#menu{
    margin-top: 30px;
    float: right;
}

#menu a{
    padding: 50px 20px;
    text-decoration: none;
    color: #111;
    text-shadow: 1px 1px #111111;
}

#menu a:hover{
    background-color: violet;
    color: #111;
}

.container{
    width: 960px;
    margin: 0 auto;
}

.efeito{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 80px 0 80px 0;
}